.grid {
	height: 200px;
	width: 200px;
	display: flex;
	flex-wrap: wrap;
	background-color: grey;
}

.grid div {
	height: 20px;
	width: 20px;
}

.bomb {
	background: orange;
}

table {
	width: 200px;
	height: 200px;
	border-collapse: collapse;
	font-size: 1rem;
	margin-top: 10px;
}


td {
	width: 10px;
	height: 10px;
}

td:nth-child(1n) {
	border-right: 1px lightgray solid;
	border-bottom: 1px solid lightgray;
}