.grid {
	height: 200px;
	width: 200px;
	display: flex;
	flex-wrap: wrap;
	background-color: grey;
}

.grid div {
	height: 20px;
	width: 20px;
}

.bomb {
	background: orange;
}

.checked {
	background: red;
}